@import url("login.css");

.input-box{
    position:relative;
    margin-bottom: 14px;
}

.input-box input{
    width:100%;
    padding:12px 10px 12px 42px;
    border:1px solid #ddd;
    border-radius:10px;
}

.input-icon{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
}

.card{
    width:400px;
    padding:25px;
}